In [18]:
import pandas as pd
import itertools

In [21]:
df = pd.read_csv('../pali_canon_hela.csv', index_col=0)

display(df.shape)

df.head()

(284708, 5)

,nikaya,vagga,sutta_id,text,hela_text
index,,,,,
dn1:0.1,dn,1,dn1,Dīgha Nikāya 1,දීඝ නිකාය 1
dn1:0.2,dn,1,dn1,Brahmajālasutta,බ්‍රහ්මජාලසුත්ත
dn1:1.0,dn,1,dn1,1. Paribbājakakathā,1. පරිබ්බාජකකථා
dn1:1.1.1,dn,1,dn1,Evaṁ me sutaṁ—,ඒවං මේ සුතං—
dn1:1.1.2,dn,1,dn1,ekaṁ samayaṁ bhagavā antarā ca rājagahaṁ antar...,ඒකං සමයං භගවා අන්තරා ච රාජගහං අන්තරා ච නාඏඅන්ද...

In [22]:
df = df.dropna(subset=['text'])
display(df.shape)

(284702, 5)

In [27]:
pali_verses_list = df['text'].str.split()
all_pali_words = list(itertools.chain.from_iterable(list(pali_words)))

In [30]:
print(f"len(all_pali_words): {len(all_pali_words)}")



len(set(all_pali_words))

len(all_pali_words): 1588054

196906

In [ ]:
#list(pali_words)